<div id="poll" class="poll">
    Question:<br />
    <input class="question" /><br />
    <button class="add-candidate">Add candidate</button><br />
    Candidates:<br />
    <input class="candidate" /><br />
</div>
