<div id="poll{{ pollNum }}" class="poll">
    Question:<br />
    <input name="question{{ pollNum }}" /><br />
    <button type="button" id="add_choice{{ pollNum }}" class="add_choice">Add choice</button><br />
    Choices:<br />
    <input name="choice{{ pollNum }}" /><br />
</div>
