<div id="poll" class="poll">
    Question:<br />
    <input class="question" /><br />
    <button class="addChoice">Add choice</button><br />
    Choices:<br />
    <input class="choice" /><br />
</div>
