.poll {
    margin: 25px 0;
}

ol, ul {
    padding: 10px;
    background-color: #eeb;
}

li {
    padding: 10px;
}

.candidates {
    line-height: 30px;
}

.sortable.included {
    background-color: pink;
}

.included {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.excluded {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sortable li {
    border-radius: 10px;
}

.sortable li:hover {
    background-color: darksalmon;
}

/*
Webkit seems to be the only one that supports grabbing (via the -webkit
extension)
The -moz extension doesn't seem to have any effect
*/

.sortable li:hover {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.sortable li:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
