<!doctype html>

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/friendly/global.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/jquery.datetimepicker.css') }}" />
        <!--
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        -->
        <script src="{{ url_for('static', filename='js/lib/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/mustache.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery.datetimepicker.js') }}"></script>
        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
        <title>{% block title %}Base{% endblock %}</title>
    </head>

    <body>

        <div id="header">
            <div class="wrap">
                <h1>friendlyvote</h1>
                <h2>It's great</h2>
            </div>
        </div>

        <div id="content">
            <div class="wrap">

        {% if current_user.is_authenticated() %}
            <p>You are logged in as {{ current_user.username }}</p>
        {% else %}
            <p>You are not logged in</p>
        {% endif %}

        {% block content %}
        Base content
        {% endblock %}

            </div>
        </div>

    </body>

</html>
