{% extends "base.html" %}

{% block script %}
<script>
    function createNewPoll() {
        $.get("{{ url_for('static', filename='templates/poll_template.mustache') }}", function(template) {

            var pollNumContainer = document.getElementById("numPolls");
            var pollNum = parseInt(pollNumContainer.value);

            var rendered = Mustache.render(template, {pollNum: pollNum});

            $("#polls").append(rendered);

            $(".addChoice").eq(pollNum).on("click", function() {
                createNewChoice(pollNum);
            });

            pollNumContainer.value++;

        });
    }

    function createNewChoice(pollNum) {
        var choice = $("<input class=\"choice\" /><br />");
        $("#polls").children().eq(pollNum).append(choice);
    }

    function submitForm() {
        var data = compileForm();
        $.ajax("{{ url_for('create_poll') }}", {
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function() { window.location.href = "{{ url_for('index') }}";},
            type: "POST"
        });
    }

    function compileForm() {

        var numVotes = parseInt(document.getElementById("numVotes").value);
        var start = document.getElementById("startDatetime").value;
        var end = document.getElementById("endDatetime").value;

        var allPolls = $(".poll").map(function() {
            var $this = $(this);
            var question = $this.find(".question").val();
            var allChoices = $this.find(".choice").map(function() {
                return this.value;
            }).get();
            var choices = $.grep(allChoices, function(elem) { return elem; });
            return {question: question, choices: choices};
        }).get();

        var polls = $.grep(allPolls, function(elem) {
            return elem.question && elem.choices.length;
        });

        return $.extend({}, {polls: polls, numVotes: numVotes, start: start, end: end});

    }

    $(function() {

        $("#startDatetime").datetimepicker();
        $("#endDatetime").datetimepicker();
        createNewPoll();

        $("#addPoll").on("click", function() {
            createNewPoll();
        });

        $("#submit").on("click", function() {
            submitForm();
        });

    });
</script>
{% endblock %}

{% block title %}Create Poll{% endblock %}

{% block content %}
<input id="numPolls" type="hidden" value="0" />
No. votes: <input id="numVotes" /><br />
Start: <input id="startDatetime" type="datetime" /><br />
End: <input id="endDatetime" type="datetime" /><br />
<button type="button" id="addPoll">Add poll</button><br />

<div id="polls"></div>

<button id="submit">Submit</button>
{% endblock %}
