{% extends "base.html" %}

{% block script %}
<script>
    function createNewPoll() {
        $.get("{{ url_for('static', filename='templates/poll_template.mustache') }}", function(template) {

            var pollNumContainer = document.getElementById("numPolls");
            var pollNum = parseInt(pollNumContainer.value);

            var rendered = Mustache.render(template, {pollNum: pollNum});

            $("#polls").append(rendered);

            $(".addCandidate").eq(pollNum).on("click", function() {
                createNewCandidate(pollNum);
            });

            pollNumContainer.value++;

        });
    }

    function createNewCandidate(pollNum) {
        var candidate = $("<input class=\"candidate\" /><br />");
        $("#polls").children().eq(pollNum).append(candidate);
    }

    function submitForm() {
        $.ajax("{{ url_for('create_poll') }}", {
            contentType: "application/json",
            data: JSON.stringify(compileForm()),
            success: function() { window.location.href = "{{ url_for('index') }}";},
            type: "POST"
        });
    }

    function compileForm() {

        var title = document.getElementById("title").value;
        var numVotes = parseInt(document.getElementById("numVotes").value);
        var start = document.getElementById("startDatetime").value;
        var end = document.getElementById("endDatetime").value;

        // Use get() to get a regular object out of the jQ object
        var allPolls = $(".poll").map(function() {

            var $this = $(this);
            var question = $this.find(".question").val();

            // Get all the candidates
            var allCandidates = $this.find(".candidate").map(function() {
                return this.value;
            }).get();

            // Filter out the empty candidates
            var candidates = $.grep(allCandidates, function(elem) { return elem; });

            return {question: question, candidates: candidates};

        }).get();

        // Only take polls with a question and at least one candidate
        var polls = $.grep(allPolls, function(elem) {
            return elem.question && elem.candidates.length;
        });

        console.log("Clicked");

        return {
            title: title,
            polls: polls,
            numVotes: numVotes,
            start: start,
            end: end
        };

    }

    $(function() {

        $("#startDatetime").datetimepicker();
        $("#endDatetime").datetimepicker();
        createNewPoll();

        $("#addPoll").on("click", function() {
            createNewPoll();
        });

        $("#submit").on("click", function() {
            submitForm();
        });

    });
</script>
{% endblock %}

{% block title %}Create Poll{% endblock %}

{% block content %}
<input id="numPolls" type="hidden" value="0" />
Title: <input id="title" /><br />
No. votes: <input id="numVotes" /><br />
Start: <input id="startDatetime" type="datetime" /><br />
End: <input id="endDatetime" type="datetime" /><br />
<button type="button" id="addPoll">Add poll</button><br />

<div id="polls"></div>

<button id="submit">Submit</button>
{% endblock %}
