{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/friendly/manage_polls.css') }}" />
{% endblock %}

{% block script %}
<script>
    $(function() {

        $(".count-votes-button").on("click", function() {
            var $this = $(this);
            var data = { pcId: parseInt($this.data("pc-id")) };
            $.post(
                "{{ url_for('count_votes') }}",
                data,
                function() { console.log("SUCCESS"); }
            );
        });

    });
</script>
{% endblock %}

{% block title %}Manage polls{% endblock %}

{% block content %}
<table id="menu">
{% for pc in pcs %}
    <tr>
        <td>{{ pc.title }}</td>
        <td><a href="{{ url_for('view_uvcs', pc_id=pc.id) }}">View UVCs</a></td>
        <td>
            {% if pc.is_finished() and not pc.counted %}
                <button class="count-votes-button" data-pc-id="{{ pc.id }}">Count votes</button>
            {% endif %}
        </td>
        <td>
            {% if pc.counted %}
                <a href="{{ url_for('view_result', pc_id=pc.id) }}">View result</a>
            {% endif %}
        </td>
        <td>
          {{ pc.num_votes_cast() }} / {{ pc.votes | length }} votes cast
        </td>
    </tr>
{% endfor %}
</table>
<a href="{{ url_for('create_poll') }}">Create a new poll</a>
{% endblock %}
