{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/friendly/vote.css') }}" />
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/lib/jquery-ui-1.11.2.custom/jquery-ui.min.js') }}"></script>

<script>
    function submitForm() {
        $.ajax("{{ url_for('submit_vote') }}", {
            contentType: "application/json",
            data: JSON.stringify(compileForm()),
            success: function() {
                alert("Your vote has been submitted"); window.location.href = "{{ url_for('index') }}";
            },
            type: "POST"
        });
    }

    function compileForm() {
        
        var uvc = document.getElementById("uvc").value;

        var choicesObjects = $(".poll").map(function() {
            var $this = $(this);
            var pollNum = parseInt($this.data("poll-num"));
            var choices = $this.find(".included").children().map(function() {
                return parseInt($(this).data("candidate-num"));
            }).get();
            return {pollNum: pollNum, choices: choices};
        }).get();

        var choices = new Array(choicesObjects.length);
        for (var i=0; i<choicesObjects.length; i++)
            choices[i] = choicesObjects[i]["choices"];

        return $.extend({}, {uvc: uvc, choices: choices});

    }

    $(function() {

        $(".sortable").each(function() {
            var $this = $(this);
            var $sibling = ($this.hasClass("included")) ? $this.next() : $this.prev();
            $(this).sortable({
                connectWith: $sibling
            });
        });

        $("#submit").on("click", function() {
            submitForm();
        });

    });
</script>
{% endblock %}

{% block title %}Vote{% endblock %}

{% block content %}
<p id="info">Drag the candidates you want to vote for into the pink area.</p>
<h2>{{ pc.title }}</h1>
<input id="uvc" type="hidden" value="{{ uvc }}" />
{% for poll in pc.polls %}
    <div class="poll" data-poll-num="{{ poll.poll_num }}">
        <h3 class="question">{{ poll.question }}</h2>
        <div class="candidates">
            <ol class="sortable included">
            </ol>
            <ul class="sortable excluded">
            {% for can in poll.candidates %}
                <li data-candidate-num="{{ can.candidate_num }}">{{ can.text }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
<button id="submit">Submit</button>
{% endblock %}
